.vizual-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.vizual-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
}

.vizual-box {
  background-color: #f0f0f0; /* Pale white */
  padding: 10px 20px;
  margin-bottom: 10px;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Black shadow */
  text-align: center;
}

/* Additional SVG styles if needed */
svg {
  display: block;
}
